* {
    /* margin: 0%; */
    /* padding: 0%; */
    scroll-behavior: smooth;

}


h1 {
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

p {
    font-size: 1.2rem;
    text-align: left;
}


.leo {
   
    font-size: 3rem;
    padding-top: 20%;
}
.leo button{
    width: 100px;
    background:transparent;
    border: 1px solid #000000;
    border-radius: 89px;

}
.leo button:hover{
    font-size: 0.79rem;
    background: linear-gradient(0deg, rgb(2, 173, 235) 1%, rgb(4, 255, 79) 100%); */

   

}



.First {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;

}

.new {
    color: #000000;
}

#element {
    color: #e61313;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    background-color: yellow;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #121212;
    width: 100%;
    height: 8%;


}

nav ul {
    display: flex;
    justify-content: right;


}

nav ul li {
    list-style: none;
    margin: 0 25px;
    text-align: right;
    background-attachment: fixed;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-inline: 22px;
}

nav ul li a:hover {
    color: yellow;
    font-size: 1.02rem;


}

.container {
    max-width: 900px;
    margin: 0 20px;
    padding: 20px;
}

header {
    width: 100%;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  

}

.head {

    text-align: center;
    padding: 20px;
    margin-left: 40%;
   

}

.head span {
    color: #e61313;
    text-decoration: underline;

}

.about {
    background-color: rgb(228, 252, 9);
    display: flex: justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 50px;

}

.about img {
    margin-inline: 55px;
    width: 350px;
}

.aboutText h3 span {
    color: #e61313;
}

.aboutText p span {
    color: #e61313;

}

.about h1 span {
    color: #e61313;
}

.service {
    display: flex flex-warp: auto;
    justify-content: center;

}

.card {
    width: 250px;
    padding: 40px;
    margin: 25px 250px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(230, 230, 230) 1%, rgba(237, 253, 45, 1) 100%);

    margin-inline: 40px;
    border-radius: 25px;
}

.mywork {
    display: flex;
    justify-content: center;
    flex-wrap: warp;
    margin-right: 450px;
    padding: 20px;

}

.mywork p {
    margin-left: 30%;
}

.mywork img {
    background-color: #cccccc;
    border-radius: 10px;
    margin-inline: 20px;
    align-items: center;
    border-radius: 10px;
    border: 5px solid rgb(247, 5, 5)
}

.workcard {
    text-decoration: none;
   
    margin-top: 20px;
    padding: 6px 12px;
    background: linear-gradient(0deg, rgb(2, 173, 235) 1%, rgba(237, 253, 45, 1) 100%);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.workcard a {
    text-decoration: none;
  
    margin-top: 20px;
    padding: 6px 12px;
    background: linear-gradient(0deg, rgb(196, 42, 15) 1%, rgba(237, 253, 45, 1) 100%);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.workcard a:hover {
    font-size: 1.2rem;
    
}

.contact {
   
    border-radius: 50px;
    margin: auto;
    margin-right: 5;
}

.contact input {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.993);
    color: rgb(2, 2, 2);
    margin-top: 2px;

}
.contact button{
    width:150px ;
    padding: 10px;
    font-size: 17px;
    border: none;
    background: linear-gradient(0deg, rgb(0, 94, 255) 1%, rgb(0, 255, 221) 100%);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 55px;
    margin-top: 65px;
    background: linear-gradient(0deg, rgb(0, 187, 255) 1%, rgba(237, 253, 45, 1) 100%);
     flex-wrap: wrap;
}
.text{
    margin-top:20px ;
}
.text p{
    font-family:monospace;
    font-size: 10px;
    margin-top: 12px;
}
.text h4{
    text-decoration: underline;
    
}
@media screen and (max-width:1000px){
    .main{
        display: block;
        text-align: center;
        margin-top: 155px;
         
    }
}
@media screen and (max-width:800px){
    ul{
        display: none;

    }
    .showData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 23px;
        background-color: black;
        gap: 20px;
        border-radius: 5px;

    }
    #bars{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
}
@media screen and (max-width:550px){
    .mainText h1{
        font-size: 36px;

    }
    .mainText h3{
        font-size: 21px;

    }
    .mainText p{
        font-size: 19px;
    }
    .main img{
      width: 90%; 
    }
    .contact{
        width: 80%;
    }
}